BasedOnStyle: Google
Language: JavaScript
IndentWidth: 3
TabWidth: 3
UseTab: Never
ColumnLimit: 120
ContinuationIndentWidth: 3
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesBeforeTrailingComments: 1
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
JavaScriptQuotes: Double
ReflowComments: false
SortIncludes: false
BinPackArguments: false
BinPackParameters: false
