.chip {
    font-size: 13px;
    /* background-color: var(--row-a); */
    border-radius: 3px;
    /* border: 0; 1px solid var(--border); */
    border: 0;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    padding: 3px 10px;
    white-space: nowrap;
    /* max-width: 150px; */
}

.chip .instrument-chip-index,
.chip .instrument-chip-name {
    color: var(--cell-instrument);
}


.chip .instrument-chip-name {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;

}

.chip .instrument-chip-krate-badge {
    background-color: var(--accent);
    margin-left: 6px;
    border-radius: 2px;
    width: 10px;
    height: 10px;
}

.chip .instrument-chip-highlight-indicator {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin: 0 4px;
}