/* Instrument Editor Component Styles */

.instrument-tab-content {
    width: 600px;
}

.k-rate-badge {
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 16px;
    border: 2px solid var(--accent-strong);
    color: var(--accent-strong);
    background-color: var(--bg);
    border-radius: 4px;
}

.instrument-panel,
.waveform-editor-panel {
    /* width: 800px; */
    /* for comfort */
}

.instrument-panel .instrument-index {
    font-size: 30px;
}

.instrument-panel .instrument-name {
    font-size: 24px;
}

.instrument-envelope-editor {
    padding-left: 8px;
    margin-bottom: 32px;
}

.instrument-envelope-editor__header h4 {
    margin-bottom: 4px;
}

.instrument-panel label {
    padding-right: 4px;
}