.memory-map-vis {
    width: 100%;
    height: 35px;
    /*background-color: var(--bg); */
    background: transparent;
    position: relative;

    border: 1px solid var(--text);
    border-radius: 2px;
    box-sizing: border-box;
}

.memory-map-vis__region {
    --memmap-region-start: 0%;
    --memmap-region-width: 10%;
    --memmap-region-hue: 0;
    position: absolute;
    left: var(--memmap-region-start);
    width: var(--memmap-region-width);
    top: 0;
    bottom: 0;
    /* height: 100%; */
    cursor: pointer;
    background-color: hsl(var(--memmap-region-hue) 50% 50%);
    opacity: 0.7;
}

.memory-map-vis__region--free {
    /* background-color: transparent; */
    /* hatched background */

    background-color: transparent;

    --fc: var(--muted);
    --bc: transparent;
    background-image: linear-gradient(-45deg, var(--fc) 0%, var(--fc) 12.5%, var(--bc) 12.5%, var(--bc) 50%, var(--fc) 50%, var(--fc) 62.5%, var(--bc) 62.5%, var(--bc) 100%);
    background-size: 8px 8px;


}

.memory-map-vis__region:hover {
    opacity: 1;
}