/* Theme Editor Panel Component Styles */

.app-panel.theme-panel {
    margin: 8px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    /* undo the "lot of padding at the bottom for comfort" effect, because we have internal scroller */
    padding-bottom: 24px;
}

.theme-panel__palette {
    display: flex;
}

.theme-panel__swatch {
    width: 50px;
    aspect-ratio: 1 / 1;
    cursor: grab;
    padding: 0;
    border: 0;

    display: flex;
    position: relative;
    /* align top left */
    /* align-items: flex-start;
    justify-content: flex-start; */
    /* align-items: center;
    justify-content: center; */
}

/* the contrast color is useful but can be visually distracting */
.theme-panel__swatch>span {
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 12px;
    opacity: 30%;
}

.theme-panel__vars {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.theme-panel__var-section {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 300px;
}

.theme-panel__var {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 6px 8px;
    cursor: grab;
    white-space: nowrap;
    height: 40px;
    overflow: hidden;

}

.theme-panel__var-value {
    font-family: var(--ff-mono);
    font-size: 12px;
}

.theme-panel__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}