html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}

.instrument-panel-positioner {
    position: absolute;
    left: 50%;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 6px 8px;
    border-bottom: 1px solid #ccc;
}

.menu-group {
    display: flex;
    align-items: center;
    gap: 3px;
}

.menu-separator {
    color: #888;
    padding: 0 4px;
}

.menu button {
    display: inline-flex;
    align-items: center;
    padding: 3px 6px;
    /* border: 0; 1px solid #bbb; */
    border: 0;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.menu button:hover {
    background: #fff;
}

.menu .icon {
    display: inline-block;
}

.instrument-panel {
    width: 800px;
    position: absolute;
    left: -400px;
    z-index: 100;
    background-color: #ddd;
    padding: 8px;
}

.instrument-panel label {
    padding-right: 4px;
}

.section {
    clear: both;
}

.toolbar {
    background-color: #eee;
    padding: 4px;
}

#instrument {
    width: 200px;
}

#master-volume-container {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.left-col {
    float: left;
}

.scope {
    display: block;
    border: 1px solid black;
    margin: 10px 0;
}

#parameters {
    float: left;
    margin-left: 1em;
}

#parameters fieldset {
    float: left;
}

#parameters fieldset[disabled] {
    opacity: 0.5;
}

#harmonics {
    margin: 0;
    padding: 0;
}

#harmonics li {
    display: inline;
}

#harmonics input {
    width: 3em;
}

#scrub {
    width: 400px;
}

#keyboard {
    position: relative;
    height: 100px;
    overflow-x: scroll;
}

.key {
    position: absolute;
    font-size: 8pt;
}

.key.white {
    height: 100px;
    width: 32px;
    z-index: 0;
    background-color: white;
    color: black;
}

.key.black {
    height: 50px;
    width: 28px;
    z-index: 1;
    background-color: black;
    color: white;
}

.key.active {
    background-color: gray;
}

.output {
    float: left;
    width: 400px;
}

.output button {
    display: block;
    margin: 10px 0;
}

.output textarea {
    width: 100%;
    height: 400px;
}

.stickyHeader {
    position: sticky;
    top: 0;
    background-color: #eee;
    z-index: 10;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}

.pattern-grid {
    display: block;
    font-family: monospace;
    position: relative;
    border-collapse: collapse;
    padding: 15px;
}

.pattern-grid .channel {
    border-left: 1px double black;
}

.pattern-grid tr.active-row {
    background-color: #88dd88;
}

.pattern-grid td {
    cursor: default;
    padding: 1px 6px;
}

.pattern-grid td:focus {
    outline: 1px solid black;
    background-color: #ffff88;
}

.pattern-grid .row-number {
    color: #444;
}

.position-list {
    padding: 0;
    width: 100%;
    height: 40px;
    white-space: nowrap;
    overflow-x: scroll;
}

.position-list button {
    background-color: transparent;
    border: 1px solid #ccc;
    display: inline-block;
    font-family: monospace;
    padding: 4px 4px;
    width: 3em;
}

.position-list button.selected-position {
    background-color: #dddd88;
}

.position-list button.selected-position:focus {
    background-color: #ffff88;
}

.position-list button.playing-position {
    background-color: #88dd88 !important;
    /* takes precedence over selected-position */
}

.position-list button.disabled {
    color: #aaa;
}